{% extends "layout.html" %}

{% block title %}
    Add Data
{% endblock %}

{% block main %}
<form action="/add" method="post">
    <div class="form-group mb-3">
        <input class="form-control mx-auto w-auto" autofocus name="distance" min="1" placeholder="Distance (in meters)" type="number">
    </div>
    <div class="form-group mb-3">
        <input class="form-control mx-auto w-auto" name="pool" min="5" placeholder="Pool length (in meters)" type="number">
    </div>
    <div class="form-group mb-3">
        <input class="form-control mx-auto w-auto" name="duration" min="1" placeholder="Duration (in minutes)" type="number">
    </div>
    <button class="btn btn-outline-secondary" type="submit">Add data</button>
</form>
{% endblock %}